@model SimpleCalculatorClient.Models.FormModel;
@{
    ViewData["Title"] = "Index";
}

    <form method="POST">
        <label for="numbOne">First number</label>
        <input type="text" id="numbOne" placeholder="first number" name="numbOne" />
        <br />
        <label for="numbTwo">Second number</label>
        <input type="text" id="numbTwo" placeholder="second number" name="numbTwo" />
        <input type="submit" />
    </form>